/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*general setup*/
html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

/*general classes*/
.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.dark {
  background: #3d3d3d;
  color: #fff;
}

/*specifics*/
body {
  flex-direction: column;
  padding-bottom: 60px;
  background-color: #fff;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0.5rem 0.5rem;
  z-index: 1;
}

.navbar__title {
  width: 100%;
  font-size: 1.5rem;
}

.wechatBox {
  height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
}

.wechatBox p {
  color: white;
}
.fab {
  margin-top: 10px;
  padding: 8px;
  font-size: 50px;
  width: 70px;
  color: #00ad19;
  cursor: pointer;
  border-radius: 10px;
}

.fab:active {
  box-shadow: 4px 4px 6px hsl(0, 7%, 81%);
  background: rgb(85, 84, 84);
}

.intro {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.intro p {
  text-align: justify;
  padding-left: 7px;
  padding-right: 7px;
}

.main {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.post {
  scroll-snap-margin-top: 110px; /*for iOS*/
  scroll-margin-top: 90px;
  width: 350px;
  height: 430px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 4px 4px 10px #333;
  position: relative;
}

.post__bottom {
  height: 30px;
}
.post__img {
  margin: 1rem auto;
  border-radius: 25px;
  width: 100%;
  height: 90%;
  object-fit: contain;
  border: 1px solid #eee;
}

.img__div {
  margin: 1rem auto;
  width: 100%;
  height: 70%;
}

/*.post__img:hover {
  border: none;
  box-shadow: 6px 6px 10px #333;
}*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  /*align-items: center;*/
  padding: 1rem 0.5rem 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .post {
    width: 300px;
  }
}

.creator {
  font-size: 1rem;
  display: block;
  float: left;
  margin-right: 20px;
  height: 100%;
}

.rightArrow {
  position: absolute;
  display: block;
  left: 87%;
  top: 40%;
  z-index: 1;
  font-size: 2rem;
  margin: 3px;
  padding: 5px;
  opacity: 0.8;
  font-weight: bold;
  cursor: pointer;
}

.rightArrow:active {
  box-shadow: 4px 4px 8px #333;
}

.leftArrow:active {
  box-shadow: 4px 4px 8px #333;
}

.leftArrow {
  position: absolute;
  display: block;
  right: 87%;
  top: 40%;
  z-index: 1;
  font-size: 2rem;
  margin: 3px;
  opacity: 0.7;
  font-weight: bold;
  cursor: pointer;
}

.email {
  font-size: 1.3rem;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  cursor: focus;
}

.copyRight {
  display: block;
  float: right;
  padding-top: 5px;
  margin-right: 20px;
  height: 100%;
}

.creator p {
  line-height: 1.1rem;
  padding-left: 10px;
}
