/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*general setup*/
html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

/*general classes*/
.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.dark {
  background: #3d3d3d;
  color: #fff;
}

/*specifics*/
body {
  flex-direction: column;
  padding-bottom: 60px;
  background-color: #fff;
  position: relative;
  min-width: 100vw;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0.5rem 0.5rem;
  z-index: 100;
}

.navbar__title {
  width: 100%;
  font-size: 1.5rem;
  margin-left: 20px;
}

.navbar__bottom {
  width: 100vw;
  height: 5px;
  background-color: #f7d200;
  margin-top: 1px;
  margin-left: -9px;
  margin-right: -9px;
  margin-bottom: -12px;
}

#yard-sale-img img {
  width: 115px;
  height: 145px;
}

#yard-sale-img {
  width: 115px;
  height: 145px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.phoneBox {
  height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
}

.fas {
  margin-top: 10px;
  padding: 8px;
  font-size: 48px;
  width: 70px;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.fas:active {
  box-shadow: 4px 4px 6px hsl(0, 7%, 81%);
  background: rgb(85, 84, 84);
}
.intro {
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.intro p {
  text-align: justify;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 20px;
}

.main {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 10px auto;
}

.post {
  scroll-snap-margin-top: 110px; /*for iOS*/
  scroll-margin-top: 90px;
  width: 340px;
  height: 430px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 4px 4px 17px #333;
  position: relative;
}

.post__bottom {
  height: 30px;
}
.post__bottom p {
  margin-left: 25px;
}
.post__img {
  margin: 1rem auto;
  border-radius: 25px;
  width: 100%;
  height: 90%;
  object-fit: contain;
  border: 1px solid #eee;
}

.img__div {
  margin: 1rem auto;
  width: 100%;
  height: 70%;
  position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0.5rem 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .post {
    width: 300px;
  }
}

.creator {
  font-size: 1rem;

  margin-left: 50px;
  margin: 0 auto;
}

.creator p {
  float: right;
}

.email {
  font-size: 1.3rem;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  cursor: focus;
}

.rightArrow {
  position: absolute;
  display: block;
  left: 87%;
  top: 40%;
  z-index: 1;
  font-size: 2rem;
  margin: 3px;
  padding: 5px;
  opacity: 0.8;
  font-weight: bold;
  cursor: pointer;
}

.rightArrow:active {
  box-shadow: 4px 4px 8px #333;
}

.leftArrow:active {
  box-shadow: 4px 4px 8px #333;
}

.leftArrow {
  position: absolute;
  display: block;
  right: 87%;
  top: 40%;
  z-index: 1;
  font-size: 2rem;
  margin: 3px;
  padding: 5px;
  opacity: 0.7;
  font-weight: bold;
  cursor: pointer;
}

.copyRight {
  padding-top: 5px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 310px) and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .copyRight {
    height: 45%;
  }
  .copyRight p {
    font-size: 1rem;
    text-align: center;
  }

  .creator {
    height: 45%;
  }
  .creator p {
    font-size: 0.8rem;
    text-align: center;
  }

  .navbar__title {
    width: 100%;
    font-size: 1.2rem;
    margin-left: 10px;
  }
}

/*Modals for wechat and phone numbers*/

.modal-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: 1;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: whitesmoke;
  width: 600px;
  max-width: 80%;
  height: 400px;
  max-height: 80%;
  overflow: auto;
  display: flex;
  /*margin-bottom: 25%;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
}

.closeModal {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  top: 0;
  right: 10px;
}

.phoneContainer {
  width: 80%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lineBreak {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.modalBottom {
  height: 40px;
  width: 100%;
  background-color: #2dbb00;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 80%;
    height: 355px;
    max-height: 80%;
  }
}

.sold__img {
  margin: 1rem auto;
  border-radius: 25px;
  width: 100%;
  height: 90%;
  object-fit: contain;
  border: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
